nav {
    height: 10vh;
    background-color: rgb(255, 255, 255);

}

.header {
    height: 90vh;
    background-image: linear-gradient(rgb(0, 38, 255), yellow);
}

.mid {
    height: 100vh;
    background-image: linear-gradient(yellow, rgb(0, 38, 255));
}

.slider {
    height: 100vh;
    background-color: rgb(81, 255, 0);
}

.bottom {
    height: 90vh;
    background-color: rgb(0, 238, 255);
}

footer {
    position: relative;
    top: 0;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}